QWidget#SettingWidget
{
    background-color:rgb(207,231,244);
}

QPushButton#closeBtn
{
    border: none;
    image:url(://resource/button/shut.png);
    min-width: 32px;
    min-height: 32px;   
}

QPushButton#closeBtn:hover
{
    background-color: rgb(231,37,54);
}

QWidget#widget QPushButton
{
    border:none;
    border-radius: 5px;
    background-color: rgb(6,163,220);
    min-width: 100px;
    min-height: 30px;
    color: white;
}

QWidget#widget QPushButton:hover
{
    background-color: rgb(16,196,245);
}

QStackedWidget
{
    background-color: qlineargradient(spread:pad,x1:0, y1:0, x2:0, y2:1, stop:0 rgba(232, 241, 249, 0), stop:0.1 rgba(232, 241, 249, 1), stop:0.2 rgba(232, 241, 249, 255), stop:0.7 rgba(232, 241, 249, 255),stop:1 rgba(252, 252, 252, 255));
    border-radius:5px;
}

QGroupBox
{
    border: none;
}